table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-size: 11px;
}

span.tag{
    display: inline-block;
    padding: 2px 4px;
    background-color: #ccc;
    margin: 2px;
}

.form-control{
    width:none !important;
}