.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
{
	background-color: black;
    background-image:none;
}

a.btn {
    padding-top: 2px;
    height: 21px;
    min-height: 21px;
    line-height: 23px;
}

input, textarea, .uneditable-input{
	width:300px;
}

textarea{
	min-height: 150px;
	padding: 4px 4px;
    width: 100%;
}
.styled-select{
    margin-top: 4px;
/*
	display: block;
	border: 1px solid #cccccc;
	padding: 0px;
	height:24px;
	margin-top: 10px;
	background: url(../images/dk_arrows.png) no-repeat 95% 50% #fff;
*/
}

.styled-select select{
    height: 26px;
    /*
	margin:0px;
	margin-left: 2px;
	background: transparent;
	font-size: 11px;
	line-height: 1em;
    border: 0;
	border-radius: 0;
	-webkit-appearance: none;
    */
}


.ingrid {
	margin-top: 0px;
	float:left;
}

.styled-menu-select{
	display: block;
	border: 2px solid #cccccc;
	padding: 0px;
	height:24px;
	background: url(../images/dk_arrows.png) no-repeat 95% 50% #fff;
}

.styled-menu-select select{
	margin:0px;
	margin-left: 2px;
	background: transparent;
	font-size: 11px;
	line-height: 1em;
	height: 24px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

#searchinput input[type="text"]{
	font-size: 11px;
	/*margin-bottom: 10px;*/
	margin-top: 4px;
	min-height: 16px;
	height:16px;
	border: 1px solid #cccccc;
}

#searchinput input[type="text"].dateinput{
    font-size: 11px;
    /*margin-bottom: 10px;*/
    margin-top: 4px;
    min-height: 27px;
    height:16px;
    border: 1px solid #cccccc;
}

input.filter[placeholder]{
    color: #000 !important;
}

#searchinput{
	background-color: #f7f7f7;
}
.search_init {
	width: 50px;
}

.search_init:focus {
	width: 150px;
}


thead #searchinput td{
	padding: 7px 5px;
	min-height: 0;

}

thead .add-on{
	margin-top: 4px;
}

.input-append .add-on, .input-prepend .add-on{
    height: 17px;
    min-height: 16px;
    min-width: 10px;
    line-height: 15px;
}

.command-bar .btn{
    margin-bottom: 10px;
}

#clearsearch{
	display: block;
	margin-top: 14px;
}

#wysihtml5-toolbar{
    padding-left: 180px;
}

.add-btn{
    cursor: pointer;
}

.add-btn:hover{
    text-decoration: underline;
}

legend{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
}

.note{
    font-size: 11px;
    font-weight: normal;
}

#notifier{
    display: block;
    padding: 10px;
    border:thin solid #ddd;
}

.files ul{
    list-style: none;
}

.files ul li {
    padding: 4px;
}

.files ul li img{
    margin-right: 10px;
    float: left;
}

.number-field{
    width: 35px;
    float:left;
}

.lmargin{
    margin-left: 10px;
    padding-top: 8px;
    padding-bottom:8px;
}

.lmargin label{
    float: left;
    display:inline-block;
    margin-right: 5px;
    padding-top: 5px;
    vertical-align: baseline;
}

.files ul{
    list-style: none;
}

span.file_del{
    font-size: 16px;
}

label input[type="radio"],
input[type="radio"] {
    visibility: visible;
    margin-right: 5px;
}